<terra-portlet inputPortletHeader="Select language portal:">
    <terra-select-box
            inputName="Manomano Country"
            [inputListBoxValues]="_manomanoLanguageSelect"
            [ngModel]="_pickedManomanoLanguage"
            (ngModelChange)="onSelectManomanoLanguage($event)">
    </terra-select-box>
</terra-portlet>

<terra-portlet inputPortletHeader="Manomano account">
    <terra-text-input
            inputName="login"
            [(ngModel)]="_login">
    </terra-text-input>
    <terra-text-input
            inputName="password"
            [(ngModel)]="_password"
            [inputIsPassword]="true">
    </terra-text-input>
    <terra-button
            inputCaption="Save"
            (outputClicked)="saveManomanoCredentials()">
    </terra-button>
</terra-portlet>